.card, .card-md, .card-ios{
    background: color($colors, bold);
}

.card-header, .card-header-md, .card-header-ios{
    font-size: 1.7rem;
    text-transform: capitalize;
    text-align: center;
}


$card-ios-header-font-size: 1.7rem!important;