#error-card{
    position: absolute;
    margin: auto;
    top: -90px;
    bottom: 0;
    left: 0;
    right: 0;
    max-height: 35%;

    h1{
        margin-top: 22%;
    }
    
    button{
        position: absolute;
        bottom: 10px;
        left: 0;
        right: 0;
        margin: auto;
        max-width: 80%;
    }
}